{% if netobserv_flow_license.account_id != None %}EF_ACCOUNT_ID: {{ netobserv_flow_license.account_id | to_json ~ "\n" }}{% endif %}
{% if netobserv_flow_license.key != None %}EF_LICENSE_KEY: {{ netobserv_flow_license.key | to_json ~ "\n" }}{% endif %}

# ElasticSearch Output Configuration
{% if netobserv_flow_output_elasticsearch.enable -%}
EF_OUTPUT_ELASTICSEARCH_ENABLE: {{ netobserv_flow_output_elasticsearch.enable | to_json }}
EF_OUTPUT_ELASTICSEARCH_ADDRESSES: {{ netobserv_flow_output_elasticsearch.addresses | to_json }}
EF_OUTPUT_ELASTICSEARCH_USERNAME: {{ netobserv_flow_output_elasticsearch.username | to_json }}
EF_OUTPUT_ELASTICSEARCH_PASSWORD: {{ netobserv_flow_output_elasticsearch.password | to_json }}
EF_OUTPUT_ELASTICSEARCH_ECS_ENABLE: {{ netobserv_flow_output_elasticsearch.ecs.enable | to_json }}
EF_OUTPUT_ELASTICSEARCH_TLS_ENABLE: {{ netobserv_flow_output_elasticsearch.tls.enable | to_json }}
EF_OUTPUT_ELASTICSEARCH_TLS_SKIP_VERIFICATION: {{ netobserv_flow_output_elasticsearch.tls.skip_verification | to_json }}
EF_OUTPUT_ELASTICSEARCH_TLS_CA_CERT_FILEPATH: {{ netobserv_flow_output_elasticsearch.tls.ca_cert_filepath }}
{% endif %}

# OpenSearch Output Configuration
{% if netobserv_flow_output_opensearch.enable -%}
EF_OUTPUT_OPENSEARCH_ENABLE: {{ netobserv_flow_output_opensearch.enable | to_json }}
EF_OUTPUT_OPENSEARCH_ADDRESSES: {{ netobserv_flow_output_opensearch.addresses | to_json }}
EF_OUTPUT_OPENSEARCH_USERNAME: {{ netobserv_flow_output_opensearch.username | to_json }}
EF_OUTPUT_OPENSEARCH_PASSWORD: {{ netobserv_flow_output_opensearch.password | to_json }}
EF_OUTPUT_OPENSEARCH_ECS_ENABLE: {{ netobserv_flow_output_opensearch.ecs.enable | to_json }}
EF_OUTPUT_OPENSEARCH_TLS_ENABLE: {{ netobserv_flow_output_opensearch.tls.enable | to_json }}
EF_OUTPUT_OPENSEARCH_TLS_SKIP_VERIFICATION: {{ netobserv_flow_output_opensearch.tls.skip_verification | to_json }}
EF_OUTPUT_OPENSEARCH_TLS_CA_CERT_FILEPATH: {{ netobserv_flow_output_opensearch.tls.ca_cert_filepath }}
{% endif %}

{% if netobserv_flow_config_values | length > 0 %}
{{ netobserv_flow_config_values | to_nice_yaml }}
{% endif %}
