---
- name: Install NetObserv collector
  hosts: all
  any_errors_fatal: true
  become: true
  handlers:
    - name: Restart softflowd
      ansible.builtin.systemd:
        name: softflowd
        state: restarted
        daemon_reload: true
  tasks:
    - name: Install softflowd
      notify: Restart softflowd
      when: ansible_os_family | lower == "debian"
      block:
        - name: Install softflowd
          ansible.builtin.package:
            name: softflowd
        - name: Configure softflowd
          # -n localhost:port should be identical to `netobserv_flow_config_input_flow.server_udp_port` netobserv-flow var, default is 9995
          # More details on the config here: https://www.elastiflow.com/docs/guides/device_flow_openwrt_softflowd/
          ansible.builtin.copy:
            dest: /etc/softflowd/default.conf
            backup: true
            owner: root
            group: root
            mode: "0644"
            content: |
              interface='any'
              # -n localhost:port should be identical to `netobserv_flow_config_input_flow.server_udp_port` netobserv-flow var, default is 9995
              # Run `softflowd -h` for command-line options details.
              # More details on the config here: https://www.elastiflow.com/docs/guides/device_flow_openwrt_softflowd/
              options='-n localhost:9995
                -v 9
                -L 255
                -T ether
                -6
                -s 1
                -t tcp.fin=10
                -t expint=10
                -t icmp=20
                -t tcp=60
                -t maxlife=60
                -t general=60
                -t udp=60'
  roles:
    - role: geerlingguy.docker
    - role: elastiflow.netobserv.elasticsearch_simple # noqa: syntax-check[specific] false-positive
      vars:
        elasticsearch_jvm_heap_size: "5g"
        elasticsearch_mem_limit: "9g"
        elasticsearch_initial_password: "Elast1flow!"
    - role: elastiflow.netobserv.netobserv_flow # noqa: syntax-check[specific] false-positive
      vars:
        netobserv_flow_config_output_elasticsearch:
          enable: true
          index_template_replicas: 0
          password: "Elast1flow!"
          tls:
            enable: true
            skip_verification: true
        netobserv_flow_config_input_benchmark:
          enable: false # Enable to continuously ingest benchmark data

        netobserv_flow_dashboards:
          elasticsearch:
            enable: true
